<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
    <div class="row main-head ">
        <div class="col-12 main-title " style="padding-top:20px; padding-bottom:20px;">
            # Digital Event Check-In Service for NANOscientific Symposium/Forum
        </div>
    </div>
    <div class="row ">
        <div class="table-responsive portlet" style="padding: 50px; min-height: 300px; max-height: 500px; overflow-y: auto; display: flex; align-items: center; justify-content: center;">
            <div class="grid-container" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
                <a href="/home/Americas"><img src="/Global_Americas_3x.jpg" width="250px" style="padding: 10px;"/></a>
                <a href="/home/Korea"><img src="/Global_Korea_3x.jpg" width="250px" style="padding: 10px;"/></a>
                <a href="/home/China"><img src="/Global_China_3x.jpg" width="250px" style="padding: 10px;"/></a>
                <a href="/home/Japan"><img src="/Global_Japan_3x.jpg" width="250px" style="padding: 10px;"/></a>
                <a href="/home/SEAsia"><img src="/Global_SE Asia_3x.jpg" width="250px" style="padding: 10px;"/></a>
                <a href="/home/Europe"><img src="/Global_Europe_3x.jpg" width="250px" style="padding: 10px;"/></a>
            </div>
        </div>


    </div>

    </div>
</th:block>
</html>

